.updates-container {
    position: relative;
    text-align: center;
    align-content: center;
    height: 90%;
    width: 80%;
    background-color: #d5dfd7;
    border: 2px solid #82817D;
    border-radius: 10px;

    .updates-container-statuses {
        max-height: 90%;
        overflow: auto;
    }
}