.updates-footer {
    border: 2px solid #99a19a;
    border-radius: 5px;
    width: 100%;
    position: absolute;
    bottom: 0px;

    .updates-footer-divider {
        border: 1px solid #969b97e1;
        margin: 0px;
        width: 100%;
        opacity: 0.6;
    }

    .updates-footer-flex {
        display: flex;
        flex-direction: column;
        margin: auto;
        
        .updates-footer-flex-row {
            width: 100%;

            .textarea { 
                text-align: left;
                width: 95%;
                min-height: 50px;
                height: auto;
                border: 2px solid #969b97e1;
                margin-bottom: 2px;
            }
            
            [contentEditable=true]:empty:not(:focus):before{
                content:attr(data-ph);
                color:grey;
            }

            input {
                float: left;
                width: 80%;
                background-color: #d5dfd7;
            }
        }
    }

    .updates-footer-submit {
        display: flex;
        justify-content: flex-end;
        margin: auto 6px 6px auto;
        position: relative;
    }
}