.delete-icon {
    text-align: center;
    width: 22px;

    &:hover {
        background-color: lightgrey;
        border-radius: 2px;
    }

    .delete-icon-svg {
        fill: #878b917c;

        &:hover {
            fill: black;
        }
    }
}

