.app-container {
    height: 100%;
    background-color: #21E1E1;


    .flex-grid {
      height: 100%;
      display: flex;
      
      .col {
        height: 60%;
        flex: 1;
        margin: auto;
      }
      
    }

    @media (max-width: 400px) {
        .flex-grid {
          display: block;
        }
      }

}